/*
 * Basic stylesheet
 *
 * Use as you wish.
 *
 */

/*************************************************************
 *	Basic definitions
 */

.slot {
	/* clear inner floats */
	position: relative;
	overflow: hidden;
	width: 100%;

	/* no appearence */
	border: 0px;
	margin: 0px;
	padding: 0px;
}


/*************************************************************
 *	Basic style for elements
 */

table.table {
	margin: 1em 0em;
	border-collapse: collapse;
	border: 1px solid #ccc;
}

	table.table th,
	table.table td {
		padding: 0.5ex 0.5ex 0.3ex 0.5ex;
		vertical-align: baseline;
	}

	table.table th {
		border: 1px solid #ccc;
		font-size: 0.85em;
		background: #f8f8f8;
	}

	table.table td {
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		font-size: 1em;
	}

	table.table td span.percent_bar {
                display: block;
                margin: -4px auto 0px -2px;
                padding: 0px;
                height: 0px;
                border: 2px solid #ccc;
                background: #ccc;
                text-align: left;
        }

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin: 2em 0em 0em 0em;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.7em;
	margin-top: 1em;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1.1em;
}
h6 {
	font-size: 1.0em;
}

.graphviz_diagram {
	overflow: auto;
	text-align: center;
	margin: 1em 0em;
	padding: 0px;
}
	.graphviz_diagram img {
		display: block;
		margin: 0em auto;
	}

.placeholder {
	border-width: 1px;
	border-style: dashed;
	margin: 1em;
	padding: 25% 1em;
	font-size: 0.85em;
	text-align: center;
	opacity:0.33;
	filter:alpha(opacity=33);
}


/**********************************************************************************
 * Forms
 *
 * Labels should have the same geometry as simple input to make them nicely
 * vertically aligned.
 */

form {
	margin: 0em;
	padding: 0em;
	border: none;
}

	form > table {
		border-collapse: collapse;
		margin: 1em 0em;
		padding: 0px;
		width: 100%;
	}

		form > table th,
		form > table td {
			border: none;
			padding: 0px;
			vertical-align: top;
		}

		form > table th {
			width: 15%;
			white-space: nowrap;
			font-weight: normal;
		}

		form > table td {
			padding-left: 1ex;
		}

	form input:not([type=button]):not([type=reset]):not([type=submit]),
	form textarea,
	form select,
	form label {
		display: inline-block;
		border: 1px solid #888;
		padding: 2px;
		margin: 2px 0em;
	}

	form > table input:not([width]):not([type=button]):not([type=reset]):not([type=submit]) {
		width: 99%;
	}

	form input[type=reset],
	form input[type=submit] {
		margin: 1ex 0em;
	}

	form label {
		padding-left: 0px;
		display: inline-block;
		border-color: transparent;
	}
	form textarea {
		display: block;
		width: 99%;
	}

	form textarea:not([rows]) {
		height: 7em;
	}

