/*
 * Basic stylesheet
 *
 * Use as you wish.
 *
 */

/*************************************************************
 *	Basic definitions
 */

.slot {
	/* clear inner floats */
	position: relative;
	overflow: hidden;
	width: 100%;

	/* no appearence */
	border: 0px;
	margin: 0px;
	padding: 0px;
}


/*************************************************************
 *	Cascade visualization
 */

/*
#_cascade_graph {
	text-align: center;
	margin: 6em 0em 0em 0em;
	padding: 1em 0em 3em 0em;
	width: 100%;
	border-top: 3px double #000;
	clear: both;
	color: #000;
	background: #fff;
}
	#_cascade_graph hr {
		display: none;
	}
*/

#_cascade_graph {
	position: fixed;
	z-index: 2147483647;
	right: 0px;
	bottom: 0px;
	width: 9em;
	height: 2em;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	color: #000;
	background: #fff;
	overflow: hidden;
	box-shadow: 0px 0px 7px #000;
	opacity: 0.4;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
}

	#_cascade_graph h2 {
		font-size: 1em;
		font-weight: bold;
		margin: 0em;
		padding: 0.5em;
	}

	#_cascade_graph hr {
		display: none;
	}

	#_cascade_graph:hover {
		width: 90%;
		height: 90%;
		overflow: auto;
		opacity: 1;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
	}
		#_cascade_graph:hover h2 {
			font-size: 1.5em;
			padding: 1em 1em 0.5em 1em;
		}


/*************************************************************
 *	Basic style for elements
 */

table.table {
	margin: 1em 0em;
	border-collapse: collapse;
	border: 1px solid #ccc;
}

	table.table th,
	table.table td {
		padding: 0.5ex 0.5ex 0.3ex 0.5ex;
	}

	table.table th {
		border: 1px solid #ccc;
		font-size: 0.85em;
		background: #f8f8f8;
	}

	table.table td {
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		font-size: 1em;
	}



h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	margin: 2em 0em 0em 0em;
} 

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.7em;
	margin-top: 1em;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1.1em;
}
h6 {
	font-size: 1.0em;
}

