/**
 * Cascade visualization
 */

#_cascade_graph.cascade_iframe {
	display: block;
	z-index: 2147483647;
	font-size: 0.85em !important;

	position: fixed;
	right: 60px;
	bottom: 0px;
	width: 120px;
	height: 20px;

	border: 0px solid #000;
	padding: 0px;
	margin: 0px;

	color: #000;
	background: transparent;
}

	#_cascade_graph.cascade_iframe h2 {
		display: block;
		font-size: 1em !important;

		position: absolute;
		bottom: 0px;
		right: 1px;
		width: 120px;
		height: 20px;

		margin: 0px;
		padding: 0px;

		border-width: 1px 1px 0px 1px;
		border-style: solid;
		border-color: #000;

		font-weight: bold;
		text-align: center;

		color: #000;
		background: #fff;
		cursor: default;

		box-shadow: 0px 0px 0.6em #000;
		opacity: 0.4;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
		filter: alpha(opacity=40);
	}

		#_cascade_graph.cascade_iframe h2 a {
			color: inherit;
			padding: 4px;
			text-decoration: none;
			display: block;
		}

		#_cascade_graph.cascade_iframe h2 a em {
			font-style: normal;
		}

	#_cascade_graph.cascade_iframe.cascade_has_failed_blocks h2 {
		background: #f60;
		color: #fff;
		opacity: 1;
		-ms-filter: none;
		filter: none;
	}

	#_cascade_graph.cascade_iframe hr {
		display: none;
	}

	#_cascade_graph.cascade_iframe iframe {
		position: absolute;
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 0px;

		height: 100%;
		width: 100%;
		border: 0px solid #fff;

		margin: 0px;
		padding: 0px;

		top: 200%;

		color: #000;
		background: #fff;
	}

	#_cascade_graph.cascade_iframe:hover {
		width: 90%;
		height: 86%;
		bottom: 20px;
		right: 30px;
		border: 1px solid #000;
	}
		#_cascade_graph.cascade_iframe:hover,
		#_cascade_graph.cascade_iframe:hover h2 {
			box-shadow: 0px 0px 1em #000;
		}

		#_cascade_graph.cascade_iframe:hover h2 {
			bottom: -21px;
			right: 30px;
			border-top-color: #fff;
			opacity: 1;
			-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
			filter: alpha(opacity=100);
		}

		#_cascade_graph.cascade_iframe:hover iframe {
			top: 0px;
			visibility: visible !important;
		}


	#_cascade_graph.cascade_iframe {
		-moz-transition:    height 0.2s linear, width 0.2s linear,
		                    bottom 0.2s step-end, right 0.2s step-end, background-color 0.2s step-end,
				    border-width 0.2s step-end, box-shadow 0.2s step-end;
		-webkit-transition: height 0.2s linear, width 0.2s linear,
		                    bottom 0.2s step-end, right 0.2s step-end, background-color 0.2s step-end,
				    border-width 0.2s step-end, box-shadow 0.2s step-end;
		-o-transition:      height 0.2s linear, width 0.2s linear,
		                    bottom 0.2s step-end, right 0.2s step-end, background-color 0.2s step-end,
				    border-width 0.2s step-end, box-shadow 0.2s step-end;
		transition:         height 0.2s linear, width 0.2s linear,
		                    bottom 0.2s step-end, right 0.2s step-end, background-color 0.2s step-end,
				    border-width 0.2s step-end, box-shadow 0.2s step-end;
	}

		#_cascade_graph.cascade_iframe h2 {
			-moz-transition:    bottom 0.2s step-end, right 0.2s step-end, box-shadow 0.2s step-end;
			-webkit-transition: bottom 0.2s step-end, right 0.2s step-end, box-shadow 0.2s step-end;
			-o-transition:      bottom 0.2s step-end, right 0.2s step-end, box-shadow 0.2s step-end;
			transition:         bottom 0.2s step-end, right 0.2s step-end, box-shadow 0.2s step-end;
		}


		#_cascade_graph.cascade_iframe iframe {
			-moz-transition:    visibility 0.2s step-end;
			-webkit-transition: visibility 0.2s step-end;
			-o-transition:      visibility 0.2s step-end;
			transition:         visibility 0.2s step-end;
		}

	#_cascade_graph.cascade_iframe:hover {
		-moz-transition:    width 0.2s ease-out, height 0.2s ease-out;
		-webkit-transition: width 0.2s ease-out, height 0.2s ease-out;
		-o-transition:      width 0.2s ease-out, height 0.2s ease-out;
		transition:         width 0.2s ease-out, height 0.2s ease-out;
	}

		#_cascade_graph.cascade_iframe:hover h2 {
			-moz-transition:    none;
			-webkit-transition: none;
			-o-transition:      none;
			transition:         none;
		}

		#_cascade_graph.cascade_iframe:hover iframe {
			-moz-transition:    none;
			-webkit-transition: none;
			-o-transition:      none;
			transition:         none;
		}


